.column
  - list_box(@students) do |i|
    = i.first_name
.column{:style => 'left: 180px; right: 0px'}
  = render :partial => '/loading_spinner'
  #contents_pane
    = render :partial => 'index'
    

- content_for :bottom_menu do
  = render :partial => 'students/menus/index'