.form_field {
  margin: 5px 0 0 0; }
  .form_field label {
    float: left;
    text-align: right;
    padding: 2px 5px 0 0;
    width: 80px;
    color: #333;
    font-size: 0.9em; }
  .form_field input {
    border-bottom: 1px solid #B0B0B0;
    border-left: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    border-top: 1px solid #7B7B7B;
    padding: 1px;
    font-size: 1em; }
