.left= link_to_function '', remote_function({:url => students_path,:method => :get}.merge(toggle_loading_spinner)), :class => 'cancel_button'
.left= link_to_function '', '$(\'new_student\').submit()', :class => 'save_button'