.loading{:style => 'position: absolute; top: 50%; left: 40%; display:none;', :id => 'loading'}
  = image_tag('/images/loading_spinner.gif')
  %span{:style => 'font-size:1.4em; position: absolute; top: 4px; left: 40px; color: #A7A7A7'} Loading...