!!!
%html
  %head
    %title Scholar 0.1
    = stylesheet_link_tag 'application', 'top_menu', 'bottom_menu', 'listbox', 'student', 'buttons', 'forms', :cache => true
    = javascript_include_tag 'listbox', :defaults

  %body
    .header
      .top_menu
    .content
      = yield
    .footer
      .bottom_menu#bottom_menu
        = yield :bottom_menu